<div>
    <div *ngIf="isPartsEmpty()">

        <app-empty-list-blankslate 
            title="Sem partes de navios criadas" 
            description="Crie partes de navios como mastro, casco, convés e velas para reutilizar na criações individuais de cada navio." 
            button="Criar nova parte" 
            link="Voltar"
            (buttonClicked)="create($event)">
        </app-empty-list-blankslate>
    
    </div>
    <div *ngIf="!isPartsEmpty()">
        <div class="m-5">
            <div class="Subhead">
                <div class="Subhead-heading" style="color: #58a6ff;"> <i class="fas fa-wrench mr-2"></i> Partes de navio </div>
            </div>
            <div class="mt-5 mb-2">
                <input class="form-control input-block" type="text" placeholder="Full-width input" aria-label="Full-width input" />
            </div>
            <div class="Box mb-1 color-shadow-medium grow" *ngFor="let part of parts.objects">
                <div class="Box-row d-flex flex-items-center">
                    <div class="flex-auto">
                        <strong> {{ part.name }} - Rank: {{ part.ranking }} </strong>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
                        <div class="text-small color-fg-subtle">
                            {{ part.description }}
                        </div>
                    </div>

                    <h3 style="color: #bd1c19;"> <i class="fas fa-trash m-1 pointer" (click)="confirm(part)"></i> </h3>
                    <h3 style="color: #4274fc;"> <i class="far fa-edit m-1 pointer"></i> </h3>

                </div>
            </div>
        </div>
    </div>
</div>