<div class="container-lg clearfix mt-5 ml-5 mr-5">
    <div class="Subhead">
        <div class="Subhead-heading" style="color: #58a6ff;">
            <i class="far fa-edit"></i> Atualizando a canhão
        </div>
    </div>
    <div class="mt-4">
        <select class="form-select input-block input-contrast input-lg">
            <option> 1 Nome da canhão </option>
            <option> 2 Nome da canhão </option>
            <option> 3 Nome da canhão </option>
            <option> 4 Nome da canhão </option>
            <option> 5 Nome da canhão </option>
            <option> 6 Nome da canhão </option>
        </select>
    </div>
</div>
<app-form-cannons></app-form-cannons>