<div class="sidenav color-shadow-large anim-fade-in">
    <ul>
        <li> <a class="ml-5" href="#" routerLink="ships"> <i class="fas fa-anchor mr-2"></i> Navios </a> </li>
        <li> <a class="ml-5" href="#" routerLink="cannons"> <i class="fas fa-meteor mr-2"></i> Canhões </a> </li>
        <li> <a class="ml-5" href="#" routerLink="parts/list"> <i class="fas fa-wrench mr-2"></i> Partes </a> </li>
    </ul>
</div>
<div class="main">
    <div class="container-lg mt-5">
        <router-outlet></router-outlet>
    </div>
</div>