<div class="border rounded-3">
    <div *ngIf="isPartsEmpty()">

    </div>
    <div *ngIf="!isPartsEmpty()">
        <div class="m-5">
            <div class="Subhead">
                <div class="Subhead-heading" style="color: #58a6ff;"> <i class="fas fa-wrench mr-2"></i> Partes de navio </div>
                <div class="Subhead-actions"><a href="#url" class="btn btn-sm btn-primary" role="button"> Create </a></div>
            </div>
            <div class="mt-5 mb-2">
                <input class="form-control input-block" type="text" placeholder="Full-width input" aria-label="Full-width input" />
            </div>
            <div class="Box">
                <div class="Box-row d-flex flex-items-center">
                    <div class="flex-auto">
                        <strong>  </strong>
                        <div class="text-small color-fg-subtle">
                            Description
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>