<div class="border rounded-3">
    <nav class="UnderlineNav UnderlineNav--full" aria-label="Foo bar">
        <div class="container-lg UnderlineNav-container">
            <div class="UnderlineNav-body m-2">
                <a class="UnderlineNav-item" href="/adm/parts/list"> <i class="fas fa-list"></i> Lista </a>
                <a class="UnderlineNav-item" href="/adm/parts/create"> <i class="fas fa-plus"></i> Criar </a>
            </div>  
        </div>
    </nav>
    <router-outlet></router-outlet>    
</div>

