<div class="border rounded-3">

    <nav class="UnderlineNav UnderlineNav--full color-shadow-medium">
        <div class="container-lg UnderlineNav-container">
            <div class="UnderlineNav-body m-2">
                <a class="UnderlineNav-item" routerLink="/adm/parts/list"> <i class="fas fa-list"></i> Lista </a>
                <a class="UnderlineNav-item" routerLink="/adm/parts/create"> <i class="fas fa-plus"></i> Criar </a>
                <a class="UnderlineNav-item" routerLink="/adm/parts/update"> <i class="fas fa-wrench"></i> Atualizar </a>
            </div> 
        </div>
    </nav>

    <div>
        <router-outlet></router-outlet>    
    </div>
</div>
