<div class="container-lg clearfix d-flex flex-column flex-sm-row flex-justify-center flex-items-center  d-flex" style="height: 100vh">
    <div class="col-6 mr-5 color-bg-subtle float-left"> 
        <div class="d-block color-shadow-large px-3 pt-4 pb-6 position-relative rounded-1 overflow-hidden no-underline" href="#">
            <a class="Link--secondary no-underline" href="" routerLink="adm">
                <div class="position-absolute top-0 left-0 py-1 width-full"> </div>
                <h3 class="color-fg-default mb-2"> <svg class="octicon octicon-repo" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M3.5 8a5.5 5.5 0 118.596 4.547 9.005 9.005 0 015.9 8.18.75.75 0 01-1.5.045 7.5 7.5 0 00-14.993 0 .75.75 0 01-1.499-.044 9.005 9.005 0 015.9-8.181A5.494 5.494 0 013.5 8zM9 4a4 4 0 100 8 4 4 0 000-8z"></path><path d="M17.29 8c-.148 0-.292.01-.434.03a.75.75 0 11-.212-1.484 4.53 4.53 0 013.38 8.097 6.69 6.69 0 013.956 6.107.75.75 0 01-1.5 0 5.193 5.193 0 00-3.696-4.972l-.534-.16v-1.676l.41-.209A3.03 3.03 0 0017.29 8z"></path></svg>
                    Painel </h3>
                <p class="">
                    Painel administrativo para gerenciamento dos navios, canhões e partes 
                    do navio.
                </p>
            </a>
            <ul class="position-absolute bottom-0 pb-3 text-small list-style-none">
                <li class="d-inline-block mr-4">
                    <a class="no-underline" href="#"> 
                        <svg class="octicon octicon-repo mr-1" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path></svg>
                        Navios </a>
                </li>
                <li class="d-inline-block mr-4">
                    <a class="no-underline" href="#"> 
                        <svg class="octicon octicon-repo mr-1" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M5.25 1a.75.75 0 01.75.75v2.5A1.75 1.75 0 014.25 6h-2.5a.75.75 0 010-1.5h2.5a.25.25 0 00.25-.25v-2.5A.75.75 0 015.25 1zm5.5 0a.75.75 0 01.75.75v2.5c0 .138.112.25.25.25h2.5a.75.75 0 010 1.5h-2.5A1.75 1.75 0 0110 4.25v-2.5a.75.75 0 01.75-.75zM1 10.75a.75.75 0 01.75-.75h2.5c.966 0 1.75.784 1.75 1.75v2.5a.75.75 0 01-1.5 0v-2.5a.25.25 0 00-.25-.25h-2.5a.75.75 0 01-.75-.75zm9 1c0-.966.784-1.75 1.75-1.75h2.5a.75.75 0 010 1.5h-2.5a.25.25 0 00-.25.25v2.5a.75.75 0 01-1.5 0v-2.5z"></path></svg>
                        Canhões </a>
                </li>
                <li class="d-inline-block">
                    <a class="no-underline" href="#"> 
                        <svg class="octicon octicon-repo mr-1" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M7.177 3.073L9.573.677A.25.25 0 0110 .854v4.792a.25.25 0 01-.427.177L7.177 3.427a.25.25 0 010-.354zM3.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122v5.256a2.251 2.251 0 11-1.5 0V5.372A2.25 2.25 0 011.5 3.25zM11 2.5h-1V4h1a1 1 0 011 1v5.628a2.251 2.251 0 101.5 0V5A2.5 2.5 0 0011 2.5zm1 10.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM3.75 12a.75.75 0 100 1.5.75.75 0 000-1.5z"></path></svg>
                        Partes 
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-6 color-bg-subtle ml-5 float-left"> 
        <div class="d-block color-shadow-large px-3 pt-4 pb-6 position-relative rounded-1 overflow-hidden no-underline" href="#">
            <a class="Link--secondary no-underline" href="">
                <div class="position-absolute top-0 left-0 py-1 width-full"> </div>
                <h3 class="color-fg-default mb-2"> <svg class="octicon octicon-repo" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M5 3.75C5 2.784 5.784 2 6.75 2h10.5c.966 0 1.75.784 1.75 1.75v17.5a.75.75 0 01-1.218.586L12 17.21l-5.781 4.625A.75.75 0 015 21.25V3.75zm1.75-.25a.25.25 0 00-.25.25v15.94l5.031-4.026a.75.75 0 01.938 0L17.5 19.69V3.75a.25.25 0 00-.25-.25H6.75z"></path></svg>
                    Partidas </h3>
                <p class="">
                    Começe aqui a batalhar pelo oceanos e saquear inimigos cada vez mais poderosos.
                </p>
            </a>
            <ul class="position-absolute bottom-0 pb-3 text-small list-style-none">
                <li class="d-inline-block mr-4">
                    <a class="no-underline" href="#"> 
                        <svg class="octicon octicon-repo mr-1" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM8 0a8 8 0 100 16A8 8 0 008 0zM6.379 5.227A.25.25 0 006 5.442v5.117a.25.25 0 00.379.214l4.264-2.559a.25.25 0 000-.428L6.379 5.227z"></path></svg> 
                        Continuar</a>
                </li>
                <li class="d-inline-block mr-4">
                    <a class="no-underline" href="#"> 
                        <svg class="octicon octicon-repo mr-1" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M7.75 2a.75.75 0 01.75.75V7h4.25a.75.75 0 110 1.5H8.5v4.25a.75.75 0 11-1.5 0V8.5H2.75a.75.75 0 010-1.5H7V2.75A.75.75 0 017.75 2z"></path></svg>
                        Nova partida </a>
                </li>
            </ul>
        </div>
    </div>
  </div>